<template>
  <div class="text-center my-5">
    <router-link
      :to="'/'"
      class="text-reset"
    >
      <p class="display-3">
        {{ blog_name}}
      </p>
      <img
        alt="Vue logo"
        src="@/assets/logo.png"
        style="display:none"
      >
    </router-link>
  </div>
</template>
<script>
// import { Settings } from '../Settings'
module.exports = {
  data: function () {
    return {
      blog_name: 'Ryan\'s Blog'
    }
  }
}

</script>
