<template>
  <span v-html="htmlContent"></span>
  <hr/>
</template>
<script>

module.exports = {
  props: {
    html: String
  },
  data: function () {
    console.log(this.html)
    return {
      htmlContent: this.html
    }
  }
}

</script>
